# IDE
.idea/
*.iml

# Gradle
.gradle/
gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties
local.defaults.properties

# Build output
/build
app/build
**/build/

# Native
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Captures / profiling
/captures

# Kotlin cache
.kotlin/

# Firebase / Secrets
google-services.json
